// src/scss/components/_hero.scss
@use '@/scss/theme/variables' as *; // colores, tipografías...
@use '@/scss/theme/mixins' as *;    // container, respond, etc.

.hero {
  text-align: center;
  padding: $space-8;
}

/* Tablet */
@include mq-tablet {
  .hero-img { max-width: 500px; }
}

/* Desktop (≥ $bp-desktop) */
@include mq-desktop {
  .hero-img { max-width: 640px; }
}