// src/scss/pages/_home.scss
@use '@/scss/theme/variables' as *;
@use '@/scss/theme/mixins' as *;

/* Iconos de las cards */
.material-symbols-outlined {
  font-size: $font-size-xxl;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: $color-bg;
}

/* Sección Trabajo en Home (bajo el hero) — base (móvil) */
.work {
  @include container;
  display: grid;
  grid-template-columns: 1fr;  /* 1 columna en móvil */
  gap: 2rem;
  align-items: center;
  padding: 2rem 1rem;
  background-color: $color-black;
  color: $color-bg
}

.work-container {
  text-align: left;
}

.work-img img {
  width: 100%;
  max-width: 400px;
  aspect-ratio: 4/3;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba($color-black, 0.15);
}

/* Tablet */
@include mq-tablet {
  .work {
    grid-template-columns: 1fr 1fr;  /* 2 columnas en tablet */
    gap: 2rem;
    justify-items: center;
  }

  .work-container {
    text-align: left;
  }

  .work-img {
    display: flex;
    justify-content: center;
  }
}

/* Desktop (≥ $bp-desktop) */
@include mq-desktop {
  .work {
    grid-template-columns: 1fr 1fr;  /* 2 columnas en tablet */
    gap: 2rem;
    justify-items: center;
  }
  .work-img img {
    max-width: 520px;
    height: 360px;
  }
}
