---
import Button from "./Button.astro"
---
    
<footer>
    <div class="footer-content">
    <!-- Bloques de información: Horario, teléfono y dirección -->
        <div class="footer-info">
            <h4>Horario</h4>
            <p>Miércoles a Domingo</p>
            <p>12:00 - 16:00 / 20:00 - 23:00</p>
        </div>

        <div class="footer-info">
            <h4>Teléfono</h4>
            <a href="tel:+34952376259">952 37 62 59</a>
        </div>

        <div class="footer-info">
            <h4>¿Dónde estamos?</h4>
            <p>Avenida del Carmelo, 21</p>
        </div>
    </div>
    <!-- Logo de Instagram -->
    <div class="insta-container">
        <a href="https://www.instagram.com/komekomehamb/?hl=es" target="_blank" >
            <img id="logo-insta" src="/instagram.png" alt="Logo oficial de Instagram">
        </a>
        
    </div>

    <p class="p-copyright">&copy; {new Date().getFullYear()} Asador Kome Kome</p>
</footer>

