---

---
    
    <footer>
        <div class="insta-container">
            <a href="https://www.instagram.com/komekomehamb/?hl=es" target="_blank" >
                <img id="logo-insta" src="/public/instagram.png" alt="Logo oficial de Instagram"></a>
            
        </div>

        <p>&copy; {new Date().getFullYear()} Asador Kome Kome</p>
    </footer>

