// scss/theme/_variables.scss

// 游꿛 Paleta de colores
$color-white: #f7f2ed;
$color-black: #241F1F;
$color-grey: #3d3d3d;
$color-grey-description: #6e6e6e;
$color-primary: #df5048;
$color-primary-hover: #a42019;
$color-cream: #FBE5CF;
$color-bg: #F6E8DA;
$color-grey-shadow: #241f1f0d;
$color-focus: #b6de47;
$color-text: $color-black !default;     // usa tu $color-black actual
$color-dark-bg: #0b0b0b !default;       // se usa solo para bordes/sombras sutiles


// 游 Tipograf칤a Montserrat o por defecto la del sistema
$font-family-main: 'Montserrat', system-ui, -apple-system, Segoe UI, Roboto, Inter, Arial, sans-serif;;

// 游 Font sizes (Mobile First)
$font-size-xs: 0.75rem;   // 12px
$font-size-sm: 0.875rem;  // 14px
$font-size-base: 1rem;    // 16px
$font-size-lg: 1.125rem;  // 18px  (subt칤tulos m칩viles)
$font-size-xl: 1.375rem;  // 22px  (h2 en m칩viles)
$font-size-xxl: 1.75rem;  // 28px  (h1 en m칩viles)

/* Pesos tipogr치ficos */
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

/* Estilos de fuente */
$font-style-normal: normal;
$font-style-italic: italic;

// Paddings y espaciados
$container-max: 1120px;
$space-1: .25rem;
$space-2: .5rem;
$space-3: .75rem;
$space-4: 1rem;
$space-6: 1.5rem;
$space-8: 2rem;
$space-12: 3rem;
$radius: 1rem;
$shadow: 0 5px 15px rgba(135, 135, 135, 0.25);
$header-h: clamp(56px, 6vw + 24px, 72px);

// Breakpoints
$bp-mobile: 767px;
$bp-tablet: 1023px;
$bp-desktop: 1024px;