
/* ----------------------------
  * FOOTER
------------------------------- */

/* Estilos logo Instagram del footer*/
#logo-footer {
  width: 32px;
  height: 32px;
}

/* Contenedor principal de info */
.footer-content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Bloques de info */
.footer-info h4 {
  margin-bottom: 0.5rem;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.footer-info p,
.footer-info a {
  margin: 0;
  font-size: var(--font-size-sm);
  color: var(--color-beige);
  text-decoration: none;
}

.footer-info a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: var(--font-size-base);
}

/* Responsive para pantallas más grandes*/
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}